@inject Data.DataService Data
@using Fitness_Tracker_App.Data
@using Fitness_Tracker_App

<!-- Get information about a day where training happend, and what exercises were done on this particular day-->


<div style="border: thin solid black; margin: 5px">
    <h3>Training Day Details</h3>
    @if (Data.CurrentUser == null)
    {
        <p>Please Create a User first!</p>
    }
    else
    {
        @*<p>Date:</p>
            <input type="date" @bind="_DateTime" />*@

        <br />
        <p>Body Weight in kg's':</p>
        <input type="number" @bind="_BodyWeight" />
        <br />
        <button class="btn btn-primary" @onclick="AddTrainingDay">Add Day</button>
    }
    @*Reps:
        <input type="number" @bind="_numberReps" />
        <button @onclick="IncreaseReps">Increase Reps.</button>
        <br />*@

    @*Sets:
        <input tupe="number" @bind="_numberSets" />
        <button @onclick="IncreaseSets">Increase Sets</button>*@

    @*<button class="btn btn-primary" @onclick="WriteXML">Save Training Day</button>*@
    @*<input type="submit" @bind="_SaveTrainingDay" />*@

    <ExerciseDetails BodyPart="Chest" 
                     ExerciseNames="@Data.ChestExerciseNames" 
                     ImagePath="/ExerciseImages/chest.png" >
    </ExerciseDetails>

    <ExerciseDetails BodyPart="Shoulders" ExerciseNames="@Data.ShoulderExerciseNames" ImagePath="/ExerciseImages/shoulder.jpg">  </ExerciseDetails>

    <ExerciseDetails BodyPart="Back" ExerciseNames="@Data.BackExerciseNames">           </ExerciseDetails>

    <div class="container">
        <img src="/ExerciseImages/upperBack.jpg"width="500" height="200" />
        <img src="/ExerciseImages/lowerback display.jpg"width="500" height="200" />
    </div>

    <ExerciseDetails BodyPart="Arms" ExerciseNames="@Data.ArmExerciseNames">            </ExerciseDetails>
    <div class="container">
        <img src="/ExerciseImages/bicep display image.jpg" width="500" height="200"/>
        <img src="/ExerciseImages/tricep display.jpg" width="500" height="200" />
    </div>

    <ExerciseDetails BodyPart="Legs" ExerciseNames="@Data.LegExerciseNames" >            </ExerciseDetails>
    <div class="container">
        <img src="/ExerciseImages/legs display.jpg"width="500" height="200" />
    </div>



</div>

@code {

    private DateTime _DateTime;
    private double _BodyWeight;
    private string _ChestExercises;
    private int _numberReps = 0;
    private int _numberSets = 0;
    private Workout _selectedChestWorkout;
    private Workout _selectedBackWorkout;





    public void AddTrainingDay()
    {
        var aTrainingDay = new TrainingDay();
        aTrainingDay.BodyWeight = _BodyWeight;
        aTrainingDay.TodaysDate = _DateTime;
        aTrainingDay.Workouts.Add(_selectedChestWorkout);
        Data.CurrentUser.TrainingDays.Add(aTrainingDay);
        //Data.WriteXML();
        //Data.ReadXML();

    }
}

