@inject Data.DataService Data
@using Fitness_Tracker_App.Data
@using Fitness_Tracker_App

<!-- Get information about a day where training happend, and what exercises were done on this particular day-->


<div style="border: thin solid black; margin: 5px">
    <h3>Training Day Details</h3>
    @if (Data.CurrentUser == null)
    {
        <p>Please Create a User first!</p>
    }
    else
    {
        <p>Date:</p>
        <input type="date" @bind="_DateTime" />

        <br />
        <p>Body Weight in kg's':</p>
        <input type="number" @bind="_BodyWeight" />
        <br />
        <button class="btn btn-primary" @onclick="AddTrainingDay">Add Day</button>
        @*<button class="btn btn-primary" @onclick="AddWorkoutExercises">Add Exercises</button>*@

        
    }

 




   <ExerciseDetails BodyPart="Chest"
                    ExerciseNames="@Data.ChestExerciseNames"
                    ImagePath="/ExerciseImages/chest - display.png"
                    @bind-SelectedWorkout="_Workout"
                    >
       
   </ExerciseDetails>
        
 

    <ExerciseDetails BodyPart="Shoulders"
                     ExerciseNames="@Data.ShoulderExerciseNames"
                     ImagePath="/ExerciseImages/shoulder - display.jpg"
                     @bind-SelectedWorkout="_Workout"
                     >
               
    </ExerciseDetails>

    <ExerciseDetails BodyPart="Back"
                     ExerciseNames="@Data.BackExerciseNames"
                     ImagePath="/ExerciseImages/Back - upperBack.jpg"
                     ImagePath2="/ExerciseImages/lowerback display.jpg"
                      @bind-SelectedWorkout="_Workout"
                   >

    </ExerciseDetails>

    <ExerciseDetails BodyPart="Arms"
                     ExerciseNames="@Data.ArmExerciseNames"
                     ImagePath="/ExerciseImages/Bicep display image.jpg"
                     ImagePath2="/ExerciseImages/Arms - tricep display.jpg"
                     @bind-SelectedWorkout="_Workout"
                     >

    </ExerciseDetails>


    <ExerciseDetails BodyPart="Legs"
                     ExerciseNames="@Data.LegExerciseNames"
                     ImagePath="/ExerciseImages/legs display.jpg"               
                      @bind-SelectedWorkout="_Workout"
                     >
    </ExerciseDetails>

</div>

@code {



    private DateTime _DateTime;
    private double _BodyWeight;
    private Workout _Workout;



    public void AddTrainingDay()
    {
        var aTrainingDay = new TrainingDay();
        aTrainingDay.BodyWeight = _BodyWeight;
        aTrainingDay.TodaysDate = _DateTime;


        Data.CurrentUser.TrainingDays.Add(aTrainingDay);

        //Data.WriteXML();
        //Data.ReadXML();

    }


    //public string _ExerciseNames;
    ////public int _NumberOfReps;
    ////public int _NumberOfSets;
    ////public int _Weights;

    //public void AddWorkoutExercises()
    //{
    //    var exerciseList = new Workout();
    //    exerciseList.ExerciseName = _ExerciseNames;
    //    //exerciseList.AmountOfReps = _NumberOfReps;
    //    //exerciseList.AmountOfSets = _NumberOfSets;
    //    //exerciseList.Weight = _Weights;
    //    Data.AddWorkoutExercises(exerciseList);


    //}


}

