@inject Data.DataService DataS
@using Fitness_Tracker_App.Data
@using Fitness_Tracker_App

<!-- Get information about a day where training happend, and what exercises were done on this particular day-->

<p style="color:white">
    <div style="border: thin solid black; margin: 5px">
        <h3>Training Day Details</h3>

        @if (DataS.CurrentUser == null)
        {
            <p>Please Create a User first!</p>
        }
        else
        {
            <p>Date:</p>
            <input type="date" @bind="_DateTime" />

            <br />
            <p>Body Weight in kg's':</p>
            <input type="number" @bind="_BodyWeight" />

            <br />

            <button type="button" @onclick="AddTrainingDay">Add Training Day</button>
            <button type="button" @onclick="AddWorkoutExercises">Add Workout</button>
            <br />

            if (DataS.CurrentUser.TrainingDays.Count > 0)
            {
                foreach (var wo in DataS.CurrentUser.TrainingDays.Last().Workouts)
                {
                    <p>@wo.ExerciseName = reps:@wo.AmountOfReps = sets:@wo.AmountOfSets = weight:@wo.Weight</p>
                }
            }

        }


        <ExerciseDetails BodyPart="Chest"
                         ExerciseNames="@DataS.ChestExerciseNames"
                         ImagePath="/ExerciseImages/chest - display.png"
                         @bind-SelectedWorkout="_Workout">

        </ExerciseDetails>


        <ExerciseDetails BodyPart="Shoulders"
                         ExerciseNames="@DataS.ShoulderExerciseNames"
                         ImagePath="/ExerciseImages/shoulder - display.jpg"
                         @bind-SelectedWorkout="_Workout">

        </ExerciseDetails>


        <ExerciseDetails BodyPart="Back"
                         ExerciseNames="@DataS.BackExerciseNames"
                         ImagePath="/ExerciseImages/Back - upperBack.jpg"
                         ImagePath2="/ExerciseImages/lowerback display.jpg"
                         @bind-SelectedWorkout="_Workout">

        </ExerciseDetails>

        <ExerciseDetails BodyPart="Arms"
                         ExerciseNames="@DataS.ArmExerciseNames"
                         ImagePath="/ExerciseImages/Bicep display image.jpg"
                         ImagePath2="/ExerciseImages/Arms - tricep display.jpg"
                         @bind-SelectedWorkout="_Workout">

        </ExerciseDetails>


        <ExerciseDetails BodyPart="Legs"
                         ExerciseNames="@DataS.LegExerciseNames"
                         ImagePath="/ExerciseImages/legs display.jpg"
                         @bind-SelectedWorkout="_Workout">
        </ExerciseDetails>

    </div>
</p>
@code {

    DateTime now = DateTime.Now;

    private DateTime _DateTime;
    private double _BodyWeight;
    private Workout _Workout = new Workout();



    public void AddTrainingDay()
    {
        var aTrainingDay = new TrainingDay();
        aTrainingDay.BodyWeight = _BodyWeight;
        aTrainingDay.TodaysDate = _DateTime;


        DataS.CurrentUser.TrainingDays.Add(aTrainingDay);

        //Data.WriteXML();
        //Data.ReadXML();

    }

    public void AddWorkoutExercises()
    {
        DataS.AddNewWorkout(new Workout(_Workout));

    }


}

