@page "/Arm Exercises"
@inject Data.DataService Data
<h1>Arm Exercises</h1>

<div class="container">

    <p>Barbell curl :</p>
    <img src="@Data.ArmExercisePicturePaths["Barbell curl"]" />
    <br /> 
    
    <p>Barbell preacher curl :</p>
    <img src="@Data.ArmExercisePicturePaths["Barbell preacher curl"]" />
    <br /> 
    
    <p>Dumbbell concentration curl</p>
    <img src="@Data.ArmExercisePicturePaths["Dumbbell concentration curl"]" />
    <br /> 
    
    <p>Dumbbell curls :</p>
    <img src="@Data.ArmExercisePicturePaths["Dumbbell curls"]" />
    <br /> 

     <p>Dumbbell Hammer curls :</p>
    <img src="@Data.ArmExercisePicturePaths["Dumbbell Hammer curls"]" />
    <br /> 

    <p>Dumbbell Kickbacks :</p>
    <img src="@Data.ArmExercisePicturePaths["Dumbbell Kickbacks"]" />
    <br /> 
   
    <p>Dumbbell single arm tricep extention :</p>
    <img src="@Data.ArmExercisePicturePaths["Dumbbell single arm tricep extention"]" />
    <br /> 
    
    <p>Forearm curl :</p>
    <img src="@Data.ArmExercisePicturePaths["Forearm curl"]" />
    <br /> 

    <p>Incline bench dumbbell curls :</p>
    <img src="@Data.ArmExercisePicturePaths["Incline bench dumbbell curls"]" />
    <br /> 

    <p>Single arm dumbbell preacher curls :</p>
    <img src="@Data.ArmExercisePicturePaths["Single arm dumbbell preacher curls"]" />
    <br /> 

     <p>Skull crushers :</p>
    <img src="@Data.ArmExercisePicturePaths["Skull crushers"]" />
    <br /> 

    <p>Seated Dips :</p>
    <img src="@Data.ArmExercisePicturePaths["Seated Dips"]" />
    <br /> 
    
    <p>Close Grip Bench :</p>
    <img src="@Data.ArmExercisePicturePaths["Close Grip Bench"]" />
    <br /> 


    </div>


    @code {

    }
