@page "/Chest Exercises"
@inject Data.DataService Data
<h1>Chest Exercises</h1>

<div class="container">
    <p>Incline Barbell Press:</p>
    <img src="@Data.ChestExercisePicturePaths["Incline Barbell Press"]" />

    <br />

    <p>Cable CrossOver:</p>
    <img src="@Data.ChestExercisePicturePaths["cable crossover"]" />

    <br />

    <p>Decline Dumbbell Flyes</p>
    <img src="@Data.ChestExercisePicturePaths["decline dumbbell flyes"]" />

    <br />

    <p>Dips</p>
    <img src="@Data.ChestExercisePicturePaths["Dips"]" />
    <br />

    <p>Dumbbell pullover</p>
    <img src="@Data.ChestExercisePicturePaths["Dumbbell pullover"]" />
    <br />


    <p>Incline Dumbbell Flyes</p>
    <img src="@Data.ChestExercisePicturePaths["incline dumbbell flyes"]" />
    <br />

    <p>Pec Dec</p>
    <img src="@Data.ChestExercisePicturePaths["Pec Dec"]" />
    <br />

    <p>Pushups:</p>
    <img src="@Data.ChestExercisePicturePaths["Pushups"]" />
    <br />

</div>




    @code {

    }
