@page "/"
@using Fitness_Tracker_App
@using Fitness_Tracker_App.Data
@inject Data.DataService Data

<UserDetails />
<TrainingDayDetails />

<br />
<button class="btn btn-primary" @onclick="WriteXML">Save User Details</button>
<br />
<button class="btn btn-primary" @onclick="ReadXml">Load User Details</button>



<tbody>

    <tr>
        <th>
            <ExerciseDetailInputComponent BodyPart="Chest" ExerciseNames="@Data.ChestExerciseNames"></ExerciseDetailInputComponent>
        </th>
        <th>
            <ExerciseDetailInputComponent BodyPart="Legs" ExerciseNames="@Data.LegExerciseNames"></ExerciseDetailInputComponent>
        </th>
        <th>
            <ExerciseDetailInputComponent BodyPart="Back" ExerciseNames="@Data.BackExerciseNames"></ExerciseDetailInputComponent>
        </th>
        <th>
            <ExerciseDetailInputComponent BodyPart="Shoulders" ExerciseNames="@Data.ShoulderExerciseNames"></ExerciseDetailInputComponent>
        </th>
        <th>
            <ExerciseDetailInputComponent BodyPart="Arms" ExerciseNames="@Data.ArmExerciseNames"></ExerciseDetailInputComponent>
        </th>

    </tr>

</tbody>






@code {
    public void WriteXML()
    {
        Data.WriteXML();
    }

    public void ReadXml()
    {
        Data.ReadXML();
    }


}

