@page "/"
@using Fitness_Tracker_App
@using Fitness_Tracker_App.Data
@inject Data.DataService Data

@*<div>
        <img src="/ExerciseImages/chest.png"/>
    </div>*@

@*<button class="btn btn-primary " @onclick="<img src="/ExerciseImages/chest.png"/>"></button>*@
@*<div class="container">
    <img src="/ExerciseImages/chest.png" />
    <button class="btn">Chest</button>
</div>*@
@*<button class="btn btn-primary" @onclick src="/ExerciseImages/chest.png">Add Day</button>*@

<UserDetails />
<TrainingDayDetails />


<br />
<button class="btn btn-primary" @onclick="WriteXML">Save User Details</button>
<br />
<button class="btn btn-primary" @onclick="Read">Load User Details</button>



<tbody>

    <tr>
        @*<th>
                <ExerciseDetailInputComponent BodyPart="Chest" ExerciseNames="@Data.ChestExerciseNames"></ExerciseDetailInputComponent>
            </th>*@
        @*<th>
                <ExerciseDetailInputComponent BodyPart="Legs" ExerciseNames="@Data.LegExerciseNames"></ExerciseDetailInputComponent>
            </th>
            <th>
                <ExerciseDetailInputComponent BodyPart="Back" ExerciseNames="@Data.BackExerciseNames"></ExerciseDetailInputComponent>
            </th>
            <th>
                <ExerciseDetailInputComponent BodyPart="Shoulders" ExerciseNames="@Data.ShoulderExerciseNames"></ExerciseDetailInputComponent>
            </th>
            <th>
                <ExerciseDetailInputComponent BodyPart="Arms" ExerciseNames="@Data.ArmExerciseNames"></ExerciseDetailInputComponent>
            </th>*@

    </tr>

</tbody>






@code {
    public void WriteXML()
    {
        Data.WriteXML();
    }

    public void Read()
    {
        Data.ReadXML();
    }


}

