@page "/Leg Exercises"
@inject Data.DataService Data
<h1>Leg Exercises</h1>

<p style="color:white">
    <div class="container">

        <p>Dumbbell Squats:</p>
        <img src="@Data.LegExercisePicturePaths["Dumbbell Squats"]" />
        <br />

        <p>Barbell Lunges:</p>
        <img src="@Data.LegExercisePicturePaths["Barbell Lunges"]" />
        <br />

        <p>Barbell Squat:</p>
        <img src="@Data.LegExercisePicturePaths["Barbell Squat"]" />
        <br />

        <p>Dumbbell Lunges:</p>
        <img src="@Data.LegExercisePicturePaths["Dumbbell Lunges"]" />
        <br />

        <p>Dumbbell Split Squat:</p>
        <img src="@Data.LegExercisePicturePaths["Dumbbell Split Squat"]" />
        <br />

        <p>Leg Extention:</p>
        <img src="@Data.LegExercisePicturePaths["Leg Extention"]" />
        <br />

        <p>Leg Press:</p>
        <img src="@Data.LegExercisePicturePaths["Leg Press"]" />
        <br />

        <p>Lying Leg Curl:</p>
        <img src="@Data.LegExercisePicturePaths["Lying Leg Curl"]" />
        <br />

        <p>Seated Leg Curl:</p>
        <img src="@Data.LegExercisePicturePaths["Seated Leg Curl"]" />
        <br />

    </div>
    </p>
    @code {

    }
