@page "/Shoulder Exercises"
@inject Data.DataService Data
<h1>Shoulder Exercises</h1>


<p style="color:white">
    <div class="container">

        <p>Behind neck barbell shoulder press:</p>
        <img src="@Data.ShoulderExercisePicturePaths["Behind neck barbell shoulder press"]" />
        <br />

        <p>Machine shoulder Press:</p>
        <img src="@Data.ShoulderExercisePicturePaths["Machine shoulder Press"]" />
        <br />

        <p>Cable bar front raises:</p>
        <img src="@Data.ShoulderExercisePicturePaths["Cable bar front raises"]" />
        <br />

        <p>Cable Shrugs:</p>
        <img src="@Data.ShoulderExercisePicturePaths["Cable Shrugs"]" />
        <br />

        <p>Cable side Raises:</p>
        <img src="@Data.ShoulderExercisePicturePaths["Cable side Raises"]" />
        <br />

        <p>Dumbbell incline bench side raises:</p>
        <img src="@Data.ShoulderExercisePicturePaths["Dumbbell incline bench side raises"]" />
        <br />

        <p>Dumbbell bent over rear delt raises:</p>
        <img src="@Data.ShoulderExercisePicturePaths["Dumbbell bent over rear delt raises"]" />
        <br />

        <p>Dumbbell Front raises:</p>
        <img src="@Data.ShoulderExercisePicturePaths["Dumbbell Front raises"]" />
        <br />

        <p>Dumbbell incline bench rear delt raise:</p>
        <img src="@Data.ShoulderExercisePicturePaths["Dumbbell incline bench rear delt raise"]" />
        <br />


        <p>Dumbbell Shoulder Press:</p>
        <img src="@Data.ShoulderExercisePicturePaths["Dumbbell Shoulder Press"]" />
        <br />

        <p>Dumbbell Side raises:</p>
        <img src="@Data.ShoulderExercisePicturePaths["Dumbbell Side raises"]" />
        <br />

    </div>
    </p>


    @code {

    }
